<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <title><%= data['title'] %> | site title</title>

  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= data['title'] %> | site title" />
  <meta property="og:description" content="<%= data['description'] %>" />
  <meta property="og:site_name" content="site title" />
  <meta property="og:image" content="<%= baseUrl %>/img/common/ogp.jpg" />
  <meta name="description" content="<%= data['description'] %>" />
  <meta name="keywords" content="<%= data['keywords'] %>" />

  <link href="<%= baseUrl %>/css/main.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/css/style.css" />
</head>
