<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title><%= page['title'] %> | gulp+ejs+json</title>

    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= page['title'] %> | gulp+ejs+json" />
    <meta property="og:description" content="<%= page['description'] %>" />
    <meta property="og:site_name" content="gulp+ejs+json" />
    <meta property="og:image" content="<%= baseUrl %>/img/common/ogp.jpg" />
    <meta name="description" content="<%= page['description'] %>" />
    <meta name="keywords" content="<%= page['keywords'] %>" />

    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/css/style.css" />
  </head>
  <body></body>
</html>
